<p id="notice"><%= notice %></p>

<p>
<h1>title</h1>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= recipe_image_for @recipe, 500 %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @recipe.desk %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @recipe.image_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

