<h1>Listing howtos</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Order</th>
      <th>Title</th>
      <th>Desk</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @howtos.each do |howto| %>
      <tr>
        <td><%= howto.recipe_id %></td>
        <td><%= howto.order %></td>
        <td><%= howto.title %></td>
        <td><%= howto.desk %></td>
        <td><%= link_to 'Show', howto %></td>
        <td><%= link_to 'Edit', edit_howto_path(howto) %></td>
        <td><%= link_to 'Destroy', howto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Howto', new_howto_path %>
